In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('./Jadual Ringkasan, 2020-2022.csv')

In [15]:
df.columns = df.columns.str.strip()
df.columns

Index(['State', '2016', '2017', '2018', '2019', '2020', '2021p', '2022e'], dtype='object')

In [16]:
df = df.filter(regex=r'^(?!Unnamed)')

In [ ]:
# df.rename(columns={'Negeri\nState': 'State'}, inplace=True)

In [6]:
df = df[df['State'] != 'Total']

In [7]:
years = df.columns[1:]

In [8]:
years

Index(['2016', '2017', '2018', '2019', '2020', '2021p', '2022e'], dtype='object')

In [9]:
melted_df = pd.melt(df, id_vars=['State'], value_vars=years, var_name='Year', value_name='Value')

In [ ]:
# melted_df[['State', 'Gender']] = melted_df['State'].str.split(' ', 1, expand=True)

In [10]:
melted_df.head(50)

                 State  Year   Value
0            Malaysia   2016    74.4
1               Johor   2016    74.2
2               Kedah   2016    72.9
3             Kelantan  2016    72.0
4               Melaka  2016    74.5
5      Negeri Sembilan  2016    73.4
6              Pahang   2016    73.3
7                Perak  2016    74.0
8              Perlis   2016    72.4
9        Pulau Pinang   2016    74.8
10               Sabah  2016    74.2
11             Sarawak  2016    76.3
12            Selangor  2016    75.1
13         Terengganu   2016    71.6
14  W.P. Kuala Lumpur   2016    76.6
15         W.P. Labuan  2016    77.4
16      W.P. Putrajaya  2016    72.3
17                Male  2016     NaN
18           Malaysia   2016    72.1
19              Johor   2016    71.9
20              Kedah   2016    70.2
21            Kelantan  2016    69.0
22              Melaka  2016    71.9
23     Negeri Sembilan  2016    70.6
24             Pahang   2016    70.9
25               Perak  2016    71.1
26             Perlis   2016    70.0
27       Pulau Pinang   2016    72.3
28               Sabah  2016    72.6
29             Sarawak  2016    74.5
30            Selangor  2016    73.1
31         Terengganu   2016    68.9
32  W.P. Kuala Lumpur   2016    74.6
33         W.P. Labuan  2016    76.2
34      W.P. Putrajaya  2016    72.6
35               State  2016  2016.0
36              Female  2016     NaN
37           Malaysia   2016    77.0
38              Johor   2016    76.9
39              Kedah   2016    75.9
40            Kelantan  2016    75.1
41              Melaka  2016    77.2
42     Negeri Sembilan  2016    76.7
43             Pahang   2016    76.2
44               Perak  2016    77.3
45             Perlis   2016    75.0
46       Pulau Pinang   2016    77.7
47               Sabah  2016    76.2
48             Sarawak  2016    78.3
49            Selangor  2016    77.4

In [ ]:
melted_df = melted_df[['State', 'Gender', 'Year', 'Value']]

In [11]:
melted_df.head(50)

                 State  Year   Value
0            Malaysia   2016    74.4
1               Johor   2016    74.2
2               Kedah   2016    72.9
3             Kelantan  2016    72.0
4               Melaka  2016    74.5
5      Negeri Sembilan  2016    73.4
6              Pahang   2016    73.3
7                Perak  2016    74.0
8              Perlis   2016    72.4
9        Pulau Pinang   2016    74.8
10               Sabah  2016    74.2
11             Sarawak  2016    76.3
12            Selangor  2016    75.1
13         Terengganu   2016    71.6
14  W.P. Kuala Lumpur   2016    76.6
15         W.P. Labuan  2016    77.4
16      W.P. Putrajaya  2016    72.3
17                Male  2016     NaN
18           Malaysia   2016    72.1
19              Johor   2016    71.9
20              Kedah   2016    70.2
21            Kelantan  2016    69.0
22              Melaka  2016    71.9
23     Negeri Sembilan  2016    70.6
24             Pahang   2016    70.9
25               Perak  2016    71.1
26             Perlis   2016    70.0
27       Pulau Pinang   2016    72.3
28               Sabah  2016    72.6
29             Sarawak  2016    74.5
30            Selangor  2016    73.1
31         Terengganu   2016    68.9
32  W.P. Kuala Lumpur   2016    74.6
33         W.P. Labuan  2016    76.2
34      W.P. Putrajaya  2016    72.6
35               State  2016  2016.0
36              Female  2016     NaN
37           Malaysia   2016    77.0
38              Johor   2016    76.9
39              Kedah   2016    75.9
40            Kelantan  2016    75.1
41              Melaka  2016    77.2
42     Negeri Sembilan  2016    76.7
43             Pahang   2016    76.2
44               Perak  2016    77.3
45             Perlis   2016    75.0
46       Pulau Pinang   2016    77.7
47               Sabah  2016    76.2
48             Sarawak  2016    78.3
49            Selangor  2016    77.4

In [17]:
df

                 State  2016  2017  2018  2019  2020  2021p  2022e
0                Total   NaN   NaN   NaN   NaN   NaN    NaN    NaN
1            Malaysia   74.4  74.4  74.6  74.8  74.7   74.5   73.4
2               Johor   74.2  74.1  74.3  74.4  74.3   74.0   73.1
3               Kedah   72.9  73.0  73.1  73.4  73.1   72.8   70.9
4             Kelantan  72.0  72.2  72.4  72.6  72.2   72.0   71.0
5               Melaka  74.5  74.5  74.7  74.9  74.0   73.5   72.5
6      Negeri Sembilan  73.4  73.4  73.5  73.8  73.3   73.5   72.4
7              Pahang   73.3  73.4  73.6  73.9  72.9   73.0   72.4
8                Perak  74.0  73.9  74.0  74.2  73.7   73.8   73.1
9              Perlis   72.4  72.0  72.0  72.0  72.8   72.9   72.3
10       Pulau Pinang   74.8  74.9  75.2  75.5  74.2   74.1   73.2
11               Sabah  74.2  74.2  74.2  74.2  74.3   74.0   73.5
12             Sarawak  76.3  76.2  76.4  76.3  75.1   74.8   74.3
13            Selangor  75.1  75.1  75.4  75.7  77.4   77.0   75.2
14         Terengganu   71.6  71.8  72.1  72.2  71.7   71.8   71.0
15  W.P. Kuala Lumpur   76.6  76.5  76.7  76.9  76.4   75.7   74.0
16         W.P. Labuan  77.4  77.3  77.6  77.6  75.4   74.8   74.5
17      W.P. Putrajaya  72.3  72.2  73.3  73.8  74.5   74.9   74.5
18                Male   NaN   NaN   NaN   NaN   NaN    NaN    NaN
19           Malaysia   72.1  72.1  72.3  72.5  72.5   72.3   71.3
20              Johor   71.9  71.8  72.0  72.1  72.1   71.9   71.2
21              Kedah   70.2  70.3  70.4  70.7  70.4   70.2   68.6
22            Kelantan  69.0  69.3  69.6  69.7  69.6   69.5   68.7
23              Melaka  71.9  71.8  72.0  72.2  71.8   71.3   70.2
24     Negeri Sembilan  70.6  70.5  70.6  70.9  70.4   71.1   70.2
25             Pahang   70.9  71.0  71.2  71.5  70.7   70.8   70.2
26               Perak  71.1  71.0  71.1  71.3  71.1   71.1   70.3
27             Perlis   70.0  69.4  69.2  69.3  70.2   70.2   69.4
28       Pulau Pinang   72.3  72.3  72.6  72.9  72.0   71.9   70.9
29               Sabah  72.6  72.5  72.6  72.5  72.6   72.3   72.0
30             Sarawak  74.5  74.4  74.6  74.5  72.9   72.6   72.1
31            Selangor  73.1  73.1  73.4  73.6  75.5   75.1   73.3
32         Terengganu   68.9  69.1  69.4  69.6  69.1   69.5   69.0
33  W.P. Kuala Lumpur   74.6  74.4  74.5  74.6  74.1   73.5   71.8
34         W.P. Labuan  76.2  76.0  76.2  76.3  73.6   73.2   72.4
35      W.P. Putrajaya  72.6  71.7  72.8  72.5  72.2   72.3   71.9
36              Female   NaN   NaN   NaN   NaN   NaN    NaN    NaN
37           Malaysia   77.0  77.1  77.2  77.4  77.2   77.0   75.8
38              Johor   76.9  76.9  77.1  77.3  76.9   76.6   75.4
39              Kedah   75.9  76.0  76.2  76.4  76.1   75.6   73.4
40            Kelantan  75.1  75.2  75.5  75.8  75.1   74.8   73.3
41              Melaka  77.2  77.5  77.6  77.8  76.4   76.0   74.8
42     Negeri Sembilan  76.7  76.8  76.9  77.0  76.4   76.2   74.9
43             Pahang   76.2  76.3  76.4  76.6  75.7   75.8   75.1
44               Perak  77.3  77.2  77.3  77.4  76.7   76.8   76.1
45             Perlis   75.0  74.8  74.8  74.9  75.6   75.8   75.3
46       Pulau Pinang   77.7  77.7  78.0  78.2  76.7   76.7   75.8
47               Sabah  76.2  76.3  76.1  76.3  76.4   76.0   75.2
48             Sarawak  78.3  78.2  78.4  78.4  77.6   77.5   76.9
49            Selangor  77.4  77.4  77.7  78.0  79.6   79.2   77.5
50         Terengganu   74.6  74.9  75.2  75.2  74.6   74.5   73.1
51  W.P. Kuala Lumpur   79.0  79.0  79.3  79.5  79.1   78.3   76.6
52         W.P. Labuan  78.7  78.7  79.0  79.0  77.3   76.6   76.8
53      W.P. Putrajaya  72.0  72.6  73.5  74.5  76.7   77.4   77.0

In [18]:
df.replace('Total', np.nan, inplace=True)
df.replace('Male', np.nan, inplace=True)
df.replace('Female', np.nan, inplace=True)
df['State'].fillna(method='ffill', inplace=True)

In [19]:
df['Gender'] = np.where(df.index % 18 == 0, 'Total', np.where(df.index % 18 < 18, 'Male', 'Female'))

In [20]:
df_melt = pd.melt(df, id_vars=['State', 'Gender'], var_name='Year', value_name='Values')

In [21]:
df_clean = df_melt.dropna(subset=['Values'])

In [22]:
df_clean.reset_index(drop=True, inplace=True)

In [23]:
df_clean.head(50)
df_clean.shape

(357, 4)

In [24]:
df_clean.head(50)

                 State Gender  Year  Values
0            Malaysia    Male  2016    74.4
1               Johor    Male  2016    74.2
2               Kedah    Male  2016    72.9
3             Kelantan   Male  2016    72.0
4               Melaka   Male  2016    74.5
5      Negeri Sembilan   Male  2016    73.4
6              Pahang    Male  2016    73.3
7                Perak   Male  2016    74.0
8              Perlis    Male  2016    72.4
9        Pulau Pinang    Male  2016    74.8
10               Sabah   Male  2016    74.2
11             Sarawak   Male  2016    76.3
12            Selangor   Male  2016    75.1
13         Terengganu    Male  2016    71.6
14  W.P. Kuala Lumpur    Male  2016    76.6
15         W.P. Labuan   Male  2016    77.4
16      W.P. Putrajaya   Male  2016    72.3
17           Malaysia    Male  2016    72.1
18              Johor    Male  2016    71.9
19              Kedah    Male  2016    70.2
20            Kelantan   Male  2016    69.0
21              Melaka   Male  2016    71.9
22     Negeri Sembilan   Male  2016    70.6
23             Pahang    Male  2016    70.9
24               Perak   Male  2016    71.1
25             Perlis    Male  2016    70.0
26       Pulau Pinang    Male  2016    72.3
27               Sabah   Male  2016    72.6
28             Sarawak   Male  2016    74.5
29            Selangor   Male  2016    73.1
30         Terengganu    Male  2016    68.9
31  W.P. Kuala Lumpur    Male  2016    74.6
32         W.P. Labuan   Male  2016    76.2
33      W.P. Putrajaya   Male  2016    72.6
34           Malaysia    Male  2016    77.0
35              Johor    Male  2016    76.9
36              Kedah    Male  2016    75.9
37            Kelantan   Male  2016    75.1
38              Melaka   Male  2016    77.2
39     Negeri Sembilan   Male  2016    76.7
40             Pahang    Male  2016    76.2
41               Perak   Male  2016    77.3
42             Perlis    Male  2016    75.0
43       Pulau Pinang    Male  2016    77.7
44               Sabah   Male  2016    76.2
45             Sarawak   Male  2016    78.3
46            Selangor   Male  2016    77.4
47         Terengganu    Male  2016    74.6
48  W.P. Kuala Lumpur    Male  2016    79.0
49         W.P. Labuan   Male  2016    78.7

In [27]:
# Reset the index of the DataFrame 
df_clean = df_clean.reset_index()

# Create the 'Gender' column based on the index
df_clean['Gender'] = (df_clean.index // 17) % 3
df_clean['Gender'] = df_clean['Gender'].map({0: 'Total', 1: 'Male', 2: 'Female'})

# Drop the index column that was created when resetting the index
df_clean = df_clean.drop(columns=['index'])

In [28]:
df_clean.head(50)

                 State  Gender  Year  Values
0            Malaysia    Total  2016    74.4
1               Johor    Total  2016    74.2
2               Kedah    Total  2016    72.9
3             Kelantan   Total  2016    72.0
4               Melaka   Total  2016    74.5
5      Negeri Sembilan   Total  2016    73.4
6              Pahang    Total  2016    73.3
7                Perak   Total  2016    74.0
8              Perlis    Total  2016    72.4
9        Pulau Pinang    Total  2016    74.8
10               Sabah   Total  2016    74.2
11             Sarawak   Total  2016    76.3
12            Selangor   Total  2016    75.1
13         Terengganu    Total  2016    71.6
14  W.P. Kuala Lumpur    Total  2016    76.6
15         W.P. Labuan   Total  2016    77.4
16      W.P. Putrajaya   Total  2016    72.3
17           Malaysia     Male  2016    72.1
18              Johor     Male  2016    71.9
19              Kedah     Male  2016    70.2
20            Kelantan    Male  2016    69.0
21              Melaka    Male  2016    71.9
22     Negeri Sembilan    Male  2016    70.6
23             Pahang     Male  2016    70.9
24               Perak    Male  2016    71.1
25             Perlis     Male  2016    70.0
26       Pulau Pinang     Male  2016    72.3
27               Sabah    Male  2016    72.6
28             Sarawak    Male  2016    74.5
29            Selangor    Male  2016    73.1
30         Terengganu     Male  2016    68.9
31  W.P. Kuala Lumpur     Male  2016    74.6
32         W.P. Labuan    Male  2016    76.2
33      W.P. Putrajaya    Male  2016    72.6
34           Malaysia   Female  2016    77.0
35              Johor   Female  2016    76.9
36              Kedah   Female  2016    75.9
37            Kelantan  Female  2016    75.1
38              Melaka  Female  2016    77.2
39     Negeri Sembilan  Female  2016    76.7
40             Pahang   Female  2016    76.2
41               Perak  Female  2016    77.3
42             Perlis   Female  2016    75.0
43       Pulau Pinang   Female  2016    77.7
44               Sabah  Female  2016    76.2
45             Sarawak  Female  2016    78.3
46            Selangor  Female  2016    77.4
47         Terengganu   Female  2016    74.6
48  W.P. Kuala Lumpur   Female  2016    79.0
49         W.P. Labuan  Female  2016    78.7

In [29]:
df_clean['Year'] = df_clean['Year'].replace('2021p', '2021')
df_clean['Year'] = df_clean['Year'].replace('2022e', '2022')

In [30]:
df_clean

                  State  Gender  Year  Values
0             Malaysia    Total  2016    74.4
1                Johor    Total  2016    74.2
2                Kedah    Total  2016    72.9
3              Kelantan   Total  2016    72.0
4                Melaka   Total  2016    74.5
..                  ...     ...   ...     ...
352            Selangor  Female  2022    77.5
353         Terengganu   Female  2022    73.1
354  W.P. Kuala Lumpur   Female  2022    76.6
355         W.P. Labuan  Female  2022    76.8
356      W.P. Putrajaya  Female  2022    77.0

[357 rows x 4 columns]

In [32]:
df_clean['Year'] = df_clean['Year'].astype(int)

In [ ]:
df_clean['State'] = df_clean['State'].replace({'Sabah1': 'Sabah', 'Selangor2': 'Selangor'})

In [33]:
df_clean['State'] = df_clean['State'].str.rstrip()
df_clean

                 State  Gender  Year  Values
0             Malaysia   Total  2016    74.4
1                Johor   Total  2016    74.2
2                Kedah   Total  2016    72.9
3             Kelantan   Total  2016    72.0
4               Melaka   Total  2016    74.5
..                 ...     ...   ...     ...
352           Selangor  Female  2022    77.5
353         Terengganu  Female  2022    73.1
354  W.P. Kuala Lumpur  Female  2022    76.6
355        W.P. Labuan  Female  2022    76.8
356     W.P. Putrajaya  Female  2022    77.0

[357 rows x 4 columns]

In [34]:
df_clean.to_csv('LifeExpectancy 2016-2022(cleaned).csv', index=False)